
/**
 * Discography Table
 */
table.discography {
	border-collapse: collapse;
	width: 100%; 
	border: none;
	margin:2em 0;
	border-bottom: 1px solid black;
}
table.discography th,
table.discography td {
	text-align: center;
	padding:6px 10px;
	font-size:1em;
}
table.discography th {
	border-bottom: 1px solid black;
	font-size:0.8em;
	padding-top:0px;
}
table.discography td {
	border-top: 1px solid #DDD;
}
table.discography tbody tr:first-child td {
	border-top: 1px solid black;
}
table.discography .song-title,
table.discography .buy-intro {
	text-align: left;
	padding-left:0px;
}
table.discography .icon {
	width: 18px;
	text-align: center;
}

/**
 * Album
 */
div.discography-album-art {
	float: right;
	padding: 0px;
	margin: 0 0 1em 2em;
}

/**
 * Song
 */
.discography-song-actions .action {
	line-height: 1.6em;
}
.discography-song-actions div.hear object {
	position: relative;
	top: 3px;
}
.discography-song-actions .action .icon {
	min-width:30px;
	float:left;
	clear:left;
}
.discography-song-actions .action .icon img {
	margin-left:3px;
}

.discography-song-actions,
.discography-song-info {
	margin-bottom: 1em;
}
